
/* HEADER start */

header {
    padding: 18px 0;
}

.header__nav-link {
    font-size: 12px;
}

/* HEADER end */

/* MAIN start */

.main__title {
    padding: 100px 0;
    background: var(--green_dark);
}

.main__title-title {
    color: #000;
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 30px;
    font-family: var(--mr500);
    text-align: center;
}

.main__title-text {
    color: var(--white);
    font-size: 18px;
    line-height: 27px;
    font-family: var(--mr500);
    text-align: center;
}

/* MAIN end */

@media(max-width:320px) {
    .main__title-title {
        font-size: 24px;
        line-height: 24px;
    }
    .main__title-text {
        font-size: 14px;
        line-height: 24px;
    }
}